.etch-container {
    width: 50%;
    height: 100%;
    /* doesnt work because it isnt nested in a div that occupies full height of viewport? */
    margin: auto;
    padding-bottom: 4rem;
    /* place-content: center; */
    background-color: red;
    border: solid 2px red;
    border-radius: 1rem;
}

.etch-title {
    font-family: Snell Roundhand, cursive, sans-serif;
    color: gold;
    font-size: 2rem;
    text-align: center;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    border: solid 3px red;
    height: 500px;
    /* height: 100%; */
    width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: whitesmoke;
    z-index: 1;
}

.prompt-button {
    display: grid;
    margin: 1rem auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: gold;
    border: none;
    border-radius: 1rem;
    transition-duration: 0.4s;
    padding: 1rem;
}

.prompt-button:hover {
    background-color: rgba(255, 217, 0, 0.8);
  }

.knobs-container {
    position: relative;
}

.knob-left, .knob-right {
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    height: 3.5rem;
    width: 3.5rem;
    background-color: whitesmoke;
}

.knob-left {
    left: 2rem;
}

.knob-right {
    right: 2rem;
}