#grid-container {
    display: grid;
    grid-template-columns: 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25%;
    border: solid red;
}

addEventListener("mouseover", (event) => {});

onmouseover = (event) => {};

/* .divSquaresContent { */
/* } */