*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 95px);
    background-color: lightgray;
}

main {
    flex: 1 0 auto;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* stylelint-disable-next-line */
#root, #__next {
    isolation: isolate;
}

.etch-container {
    width: 50%;
    height: 100%;
    margin: auto;
    padding-bottom: 4rem;
    background-color: red;
    border: solid 2px red;
    border-radius: 1rem;
}

.etch-title {
    font-family: "Snell Roundhand", cursive, sans-serif;
    color: gold;
    font-size: 3rem;
    text-align: center;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    border: solid 3px red;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: whitesmoke;
    z-index: 1;
}

.buttons-container {
    display: flex;
}

.prompt-button, .clear-button {
    display: grid;
    margin: 1rem auto;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    background-color: gold;
    border: none;
    border-radius: 1rem;
    transition-duration: 0.4s;
    padding: 1rem;
}

.prompt-button:hover, .clear-button:hover {
    cursor: pointer;
    background-color: rgba(239, 204, 3, 0.8);
}

.knobs-container {
    position: relative;
}

.knob-left, .knob-right {
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    height: 3.5rem;
    width: 3.5rem;
    background-color: whitesmoke;
}

.knob-left {
    left: 1rem;
}

.knob-right {
    right: 1rem;
}

footer, .footer-container {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: Roboto, sans-serif;
}

.github-logo {
    height: 1.5rem;
    width: 1.5rem;
}

@media (360px <= width <= 1200px) {
    .etch-container {
        width: 80%;
    }
}